<header class="headerstyle">
    <h1 class="h1">Kakkuainekset!</h1>
    <nav>
        <button class="navbutton"><a href="/">Kotisivu</a></button>
        <button class="navbutton"><a href="https://youtu.be/dQw4w9WgXcQ?feature=shared">Paina tästä, niin saat ilmaisen kakun kottisi!</a></button>
    </nav>
</header>
